* {
  margin: 0;

  font-family: Courier;
  font-weight: lighter;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
}

.email i::after {
  content: attr(data-domain);
}

.email i::before {
  content: attr(data-user) "\0040";
}

a:link,
a:visited {
  color: #07c;
}

a:hover {
  color: #08d;
}

h1 {
  line-height: 35px;
  letter-spacing: -1px;
}

.custom-col {
  margin-top: 40px;
  padding-right: 0px;
  padding-top: 0px;
}

#sidebar {
  padding: 0 20px 0 0;

  border-right: 1px solid #ccc;

  text-align: right;
}

#sidebar h1 {
  transform-text: uppercase;

  font-size: 40px;
}

#sidebar h1 a {
  color: #333;

  text-decoration: none;
}

#sidebar h2 {
  transform-text: uppercase;

  font-size: 25px;

  color: #333;
}

#sidebar ul {
  list-style-type: none;
  margin: 10px 0;
}

#sidebar li {
  font-size: 15px;

  line-height: 20px;
}

.icon {
  font-size: 150%;
}

#image-gallery img {
  padding: 0 0 50px 0;
  width: 100%;
}

.single-image img {
  width: 100%;
}

#sketch-holder {
  width: 100%;
}
